.homepage-baby-div {
    min-height: 400px;
    padding-left: 5%;
    padding-right: 0%;
    
   justify-content: space-between;
    margin-top: 50px;
    display: flex;

}

.homepage-baby-div:last-child{
    margin-top: -30px;
}

.homepage-main-text{

    font-size: 14px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    width: 135px;
    height: 20px;


   
}

.homepage-p-text {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    margin-right: 0;
    letter-spacing: 1.0px;
    line-height: 1.1875;
    
    box-sizing: inherit;
    display: block;
    margin-bottom: 1rem;
   
    max-width: 459px;
    height: 177px;

}

.homepage-text{
    text-align: left;
    width: 100%;
    height: 78px;
    width: 459px;
    font-size: 20px;
    font-weight: 500;
    margin: 0px 0px 32px;
    letter-spacing: 1.2px;
    padding-bottom: 10px;
}

.main-img {
    margin-left: -126px;
    width: 125%;
    height: auto;
    box-sizing: inherit;
    margin-top: -35px;
}

.main-img-container {
    width: 50vw;
}

.homepage-4-div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-top: 1px solid lightgrey;
    min-height: 100px;
   
}
.homepage-3-div{
    display: flex;
    padding: 0px 10px;
    margin: 20px;
    justify-content: space-evenly;
    line-height: 29px;
    font-size: 18px;
    margin-left: 60px;
}

.github-img, .linkedin-img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.linkedin-img{
     width: 30px;
    height: 30px;
}

.github-link:hover, .linkedin-link:hover{
    background-color: #1264a3;
    cursor: pointer;
}

a:hover{
    cursor: pointer;
}

.splash.section-3 {
    display: flex;
    flex-direction: column;
    margin-right: 110px;
    margin-left: 100px;
    padding-bottom: 100px;
}

.splash3-content {
    text-align: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.splash3-content1 {
    text-align: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 145px;
}

.splash3-content1 h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.splash3-content1 p {
    font-size: 18px;
    line-height: 30px;
}

.splash3-content h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.video2-tag {
    width: 45%;
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
}

.splash3-content p {
    font-size: 18px;
    line-height: 30px;
}

.square-img, .news-img, .hand-img{
    width: 45px;
}

.break-text{
    font-weight: 900;
    line-height: 1.12;
    padding-bottom: 18px;
    text-align: center;
    font-size: 50px;
    letter-spacing: 0.3px;
}

.working-text{
    font-weight: 400;
    line-height: 2;
    letter-spacing: -.2px;
    font-size: 1rem;
    padding-bottom: 30px;
    text-align: center;
}

.slackvid{
    box-shadow: 0 0 1.5rem rgba(105,105,105,.5);
    width: 75%;
    margin: 0 auto;
    min-height: 587px;
}

.features-div{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.try-scoop-link {   
    background-color: #611f69;
    font-size: 16px;
    font-weight: bold;
    padding: 19px 50px 20px;
    border-radius: 4px;
    margin-right: 5px;
    color: white;
    border: 1px solid #611f69;
    z-index: 2;
    width: 178px;
    height: 57px;
}

.try-scoop:hover {
    background-color: #4a154b;
}

.try-demo-link{
    font-size: 16px;
    font-weight: bold;
    padding: 19px 50px 20px;
    border-radius: 4px;
    margin-right: 5px;
    color: #611f69;
    border: 1px solid #611f69;
    z-index: 2;
    width: 178px;
    height: 57px;
}

.try-demo-link:hover{
    border: 2px solid #611f69;
    border-radius: 4px;
}

.video-container {
    width: 100vw;
    display: flex
}

.homepage-5{
    display: flex;
    flex-direction: row;
    margin-bottom: -8%;
}

.div3 {
    display: flex;
}

.video1-tag {
    width: 60%;
    margin-right: -100px;
}

.splash.section-4 {
    display: flex;
    flex-direction: row;
}

.portfolio{
    font-size: 20px;
    font-weight: 700;
    margin: 2rem;
}

.homepage-7-div{
    display: flex;
    background-color: #4a154b;
    background-image: url(https://a.slack-edge.com/80588/spacesuit/source/images/backgrounds/bg-halftone-black-20p.png);
    height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
}

.better-text{
    font-size: 50px;
    color: white;
    font-weight: bold;
    margin-bottom: 32px;

    
}

.try-s-link-bottom{
    background-color: white;
    border-radius: 4px;
    margin-right: 5px;
    font-size: 16px;
    font-weight: 700;
    padding: 19px 40px 20px;
    color: #611f69;
    border: 1px solid #611f69;

    width: 178px;
    height: 57px;
}

.try-demo-link-bottom{
    background-color: #611f69;
    border-radius: 4px;
    margin-right: 5px;
    font-size: 16px;
    font-weight: 700;
    padding: 19px 40px 20px;
    color: white;
    border: 1px solid white;
    width: 178px;
    height: 57px;
}

.homepage-header {
    display: flex;
    flex-direction: column;
        padding-top: 80px;
    padding-left: 35px;

}


.already-link{
    color: #1264a3;
    cursor: pointer;
    text-decoration: underline;
}

.already {
    font-size: 14px;
    padding-top: 20px;
    letter-spacing: 0.5px;
    margin-top: 10px;
}

